<div *ngIf="championInfo !== undefined">
<header
  style="
  background: linear-gradient(rgba(29, 29, 29, 0.686), rgba(0, 0, 0, 0.683)), 
  url({{championBannerUrl}});   
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;">
    <section>
      <h1>{{ championInfo[0].name }}</h1>
      <p>{{ championInfo[0].title }}</p>
      <div class="returnBtn">
        <button (click)="return()" title="Volver"><i class="fa-solid fa-person-walking-arrow-loop-left" style="color: #c89b3c;"></i></button>
      </div>
    </section>
  </header>

  <article>
    <div id="champion_info">
      <div class="info_container">
        <img [src]="championSquareUrl" alt="" />
        <div class="champion_lore">
          <p>{{ championInfo[0].lore }}</p>
        </div>
      </div>
    </div>
  </article>


  <!-- (load)="LoadingImage()" -->    
  <article id="champion_skin_article">
    <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "large" color = "#c89b3c" type = "ball-clip-rotate-multiple" [fullScreen] = "true"></ngx-spinner> 
    <section id="champion_skins">
      <div class="image">
        <img
        class="champion_skin"
        [src]="SkinChampionSelected"
        (load)="ImageOk()"
        [alt]=""
      />
      </div>
      <div class="skin_name">
        <h1>{{ SkinChampionName }}</h1>
      </div>
    </section>

    <div class="skinsbuttoncontainer">
      <button
       *ngFor="let skinslength of championInfo[0].skins; let i = index" (click)="ChangeSkin(i)" 
      [ngClass]="{'skinbutton': i !== selectedBtnIndex, 'skinbutton_clicked': i === selectedBtnIndex}">
      </button>
    </div>
  </article>
</div>