*{
    background: rgb(9,20,40);
}

.navbar{
    display: flex;
    justify-content: space-around;
    background: rgb(9,20,40);
    background: linear-gradient(90deg, rgba(9,20,40,1) 0%, rgba(10,20,40,1) 35%);
}

app-filters{
    z-index: 2;
}

app-data-table{
    display: grid;
    justify-items: center;
}

pagination-controls{
    display: grid;
    justify-items: center;
    font-size: 1.5rem;
}

.custom-pagination ::ng-deep .ngx-pagination {

    span,a,li {
        color: white;
    } 

    a,span{
        font-size: 1rem;
    }

    .current {
        background: #C89B3C;
        
        span{
            color: black;
    }
}
}