*{
    background: rgb(9,20,40);
}

.navbar{
    display: flex;
    height: 2rem;
    background-color: #C89B3C;
    justify-content: space-around;

    app-navbar{
        background-color: #C89B3C;
    }

    app-filters{
        background-color: #C89B3C;
    }
}

app-data-table{
    display: grid;
    justify-items: center;
}

pagination-controls{
    display: grid;
    justify-items: center;
    font-size: 1.5rem;
}

.custom-pagination ::ng-deep .ngx-pagination {

    span,a {
        color: white;
    } 

    a,span{
        font-size: 1rem;
    }

    .current {
        background: #C89B3C;
        
        span{
            color: black;
    }
}
}